footer {

	background: $black;
	margin-top: 30px;
	padding-top: 0;
	@media (min-width: $bp-sm-min) {
		margin-top: 90px;
		/*padding: calc(15px + (80 - 15) * (100vw - 400px) / (1440 - 400));*/
	}
	a, a:visited {
		color: $white;
	}

	hr {
		background-color: $footer-gray;
		margin-top: 0;
	}

	.menu {
		font-family: 'noe-display';
  	font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1440 - 320));
  	@media (min-width: $bp-xlg-min) {
  		font-size: 40px;
  	}
  	margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				color: $white;
			}
		}
	}

	.footer-top {
		margin-top: 30px;
		@media (min-width: $bp-xlg-min) {
			margin-top: 80px;
		}
		p {
			font-size: 16px;
	  	line-height: 1.5;
	  	font-family: 'Fakt-Blond';
	  	color: $footer-gray;
		}
	}

	.footer-bottom {
		font-size: 16px;
  	line-height: 1.5;
  	font-family: 'Fakt-Blond';
  	color: $footer-gray;
  	margin: 30px 0 15px;
  	@media (min-width: $bp-sm-min) {
  		margin: 90px -15px 90px;
  	}
  	.footer-contact-addresses {
  		display:none;
  		@media (min-width: $bp-sm-min) {
  			display:block;
  			float:none;
  		}
  		@media (min-width: $bp-sm3-min) {
  			display:block;
  			float:right;
  		}
  	}
  	.footer-social {
			float:none;
			margin-top:30px;
			@media (min-width: $bp-sm-min) {
				margin-top:30px;
			}
			@media (min-width: $bp-sm3-min) {
				float:left;
				margin-top: 0;
			}

		}

  	.footer-social {
  		@media (min-width: $bp-sm-min) {
				padding-left:30px;
				padding-right:30px;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include flexbox;
				@include justify-content(space-between);
				@media (min-width: $bp-sm3-min) {
					@include flexbox;
					@include flex-direction(column);
			    @include justify-content(space-between);
			    height: 100%;
				}
				li {
					font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 16px;
					}
					display: inline-block;
					line-height: 1.6;
					@media (min-width: $bp-sm3-min) {
						display: block;
					}
					a {
						color: $footer-gray;
					}
				}
			}
		}
		p {
			margin-bottom: 0;
			font-size: 16px;
			color: $footer-gray;
			strong {
				color: $white;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
	.footer-subscribe {
		margin-top: 56px;
		@media (min-width: $bp-sm3-min) {
			margin-top: 0;
		}
	}
	.footer-subscribe input {
		background: transparent;
		color: $white !important;
		flex-basis: 80%;
		font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1440 - 320));
		@media (min-width: $bp-xlg-min) {
			font-size: 16px;
		}
  	line-height: 1.5;
  	font-family: 'Fakt-Blond';
  	border: none;
  	outline: none;
  	padding: 0 8px 0 0;
	}
	.footer-subscribe p {
		display: flex;
		justify-content: space-between;
		font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1440 - 320));
		@media (min-width: $bp-xlg-min) {
			font-size: 16px;
		}
	}
	.footer-subscribe a {
		color: white;
		opacity: 1;
	}
}

.home, .single-work_post_type, .single-things_post_type {
	footer {
		margin-top: 0;
		.footer-top {
			/*border-top:1px solid #4c4c4c;
			margin-top: 0;
			padding-top: 80px;*/
		}
	}
}
