footer {

	background: $black;
	margin-top: 30px;
	padding-top: 0;
	@media (min-width: $bp-sm-min) {
		margin-top: 90px;
	}
	a, a:visited {
		color: $white;
	}

	hr {
		background-color: $footer-gray;
		margin-top: 0;
	}

	.menu {
		font-family: 'noe-display';
  	font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1440 - 320));
  	margin: 0;
		padding: 0;
		list-style: none;
		li {
			a {
				color: $white;
			}
		}
	}

	.footer-top {
		margin-top: 30px;
		@media (min-width: $bp-sm-min) {
			margin-top: 80px;
		}
		p {
			font-size: 16px;
	  	line-height: 1.5;
	  	font-family: 'Fakt-Blond';
	  	color: $footer-gray;
	  	a {
	  		color: $footer-gray;
	  	}
		}
	}

	.footer-bottom {
		font-size: 16px;
  	line-height: 1.5;
  	font-family: 'Fakt-Blond';
  	color: $footer-gray;
  	margin: 30px -15px 30px;
  	@media (min-width: $bp-sm-min) {
  		margin: 90px -15px 60px;
  	}
  	.footer-contact-addresses {
  		display:none;
  		@media (min-width: $bp-sm-min) {
  			display:block;
  			float:none;
  		}
  		@media (min-width: $bp-sm3-min) {
  			display:block;
  			float:right;
  		}
  	}
  	.footer-social {
			float:none;
			margin-top:40px;
			@media (min-width: $bp-sm3-min) {
				float:left;
				margin-top: 0;
			}

		}

  	.footer-social {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include flexbox;
				@include justify-content(space-between);
				@media (min-width: $bp-sm3-min) {
					@include flexbox;
					@include flex-direction(column);
			    @include justify-content(space-between);
			    height: 100%;
				}
				li {
					display: inline-block;
					line-height: 1.6;
					@media (min-width: $bp-sm3-min) {
						display: block;
					}
					a {
						color: $footer-gray;
					}
				}
			}
		}
		p {
			margin-bottom: 0;
			font-size: 16px;
			color: $footer-gray;
			strong {
				color: $white;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
			}
		}
	}

}

.home, .single-work_post_type {
	footer {
		margin-top: 0;
		.footer-top {
			margin-top: 0;
			padding-top: 80px;
		}
	}
}
