header {
	&.entry-header {
		padding:0;
	}
	.nav-wrap {
		padding:35px 70px 105px;
		#site-navigation {
			position: relative;
			transform: translate3d(0,0,0);
			transition: .2s transform ease-out;
		}
	}
	.main-navigation {
		#primary-menu {
			@media (min-width: $bp-sm-min) {
				@include flexbox;
				text-align: center;
				@include justify-content(space-between);
				li {
					a, a:visited {
						color:#999999;
						&:hover {
							color:$black;
						}
					}
					&.current-menu-item, &.current_page_parent {
						a, a:visited {
							color:$black;
						}
					}
				}

			}
		}
	}
}

.rapt-logo-wrap {
	display:block;
	position:fixed;
	bottom:60px;
	right:60px;
	z-index: 20;
}


.home {
	header {
		.nav-wrap {
			padding:100px 70px ;
		}
		.main-navigation {
			#primary-menu {
				li {
					a {
						color:$black;
					}
				}
			}
		}
	}
}

.is-nav-fixed {
	header {
		.nav-wrap {
			#site-navigation {
				padding: 31px 70px 36px;
				position: fixed;
				left: 0;
				top: -30px;
				transform: translate3d(0,30px,0);
				width: 100%;
				background: white;
				z-index: 20;
			}
		}
	}
}

.is-nav-fixed {
	header {
		.nav-wrap {
			#site-navigation {
				background: white;
			}
		}
	}
}

.blog.is-nav-fixed {
	header {
		.nav-wrap {
			#site-navigation {
				background: #ffefdd;
			}
		}
	}
}
