header {
	&.entry-header {
		padding: 0;
	}
	.nav-wrap {
		padding: calc(24px + (35 - 24) * (100vw - 320px) / (1440 - 320)) calc(16px + (70 - 16) * (100vw - 320px) / (1440 - 320)) 105px;
		@media (min-width: $bp-xlg-min) {
			padding: 35px 70px;
		}
		position: relative;
		height: 140px;
		#site-navigation {
			position: relative;
			transform: translate3d(0,0,0);
			transition: .2s transform ease-out;
		}
	}
	.main-navigation {
		width:auto;
		float:none;
		@media (min-width: $bp-sm3-min) {
			width: 100%;
			float: none;
		}
		.mobile-nav-close {
			width: 18px;
			height: 18px;
			position: absolute;
			right: 16px;
			top: 20px;
			display: none;
		}
		.mobile-nav-locations {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			bottom: 20px;
			left: 16px;
			pointer-events: none;
			.footer-location {
				display: flex;
			}
			p {
				margin-right: 10px;
				color: white;
				font-size: 14px;
			}
			p:nth-of-type(2) {
				color: $grayAlt;
			}
		}
		&.toggled {
			@media (max-width: $bp-sm3-min) {
				#primary-menu {
					position:fixed !important;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					height: auto;
					background:$black;
					padding: 16px;
					@media screen and (min-width: 37.5em) {
						display:block;
					}
					@media (min-width: $bp-sm3-min) {
						position:static;
					}
					li a {
						opacity: 1;
						visibility: visible;
					}
				}
				.mobile-nav-close {
					display: block;
					svg {
						width: 100%;
						height: 100%;
					}
				}
				.mobile-nav-locations {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					transition: .2s;
				}
			}
		}
		#primary-menu {
			li {
				display:block;
				float:none;
				font-size: 32px;
				font-family: 'noe-display';
				@media (min-width: $bp-sm-min) {
					font-size: 40px;
					line-height: 1.2;
					opacity: 1;
					visibility: visible;
				}
				a, a:visited {
					color: $white;
					opacity: 0;
					visibility: hidden;
					transition: .3s;
					&:hover {
						color: $white;
					}
				}
			}
			@media screen and (min-width: 37.5em) {
				display:none;
			}
			@media (min-width: $bp-sm3-min) {
				@include flexbox;
				text-align:center;
				@include justify-content(space-between);
				li {
					font-size: 20px;
					font-family: 'Fakt-Blond';
					a, a:visited {
						color: #999999;
						&:hover {
							color: $black;
						}
					}
					&.current-menu-item, &.current_page_parent {
						a, a:visited {
							color: $black;
						}
					}
				}
			}
		}
	}
}

.menu-toggle {
	width: 24px;
	height: 17px;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	float:left;
	@media screen and (min-width: 37.5em) {
		display:block;
	}
	@media (min-width: $bp-sm3-min) {
		display:none;
	}
}


.rapt-logo-wrap {
	position: fixed;
	right: 16px;
	top: 16px;
	z-index: 21;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: .2s ease-out;
	transform: translate3d(0, -20px, 0);

	@media (min-width: $bp-sm3-min) {
		display: block;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		position: fixed;
		bottom: 60px;
		top: auto;
		right: 31px;
		z-index: 20;
		float:none;
	}
	svg polyline {
		transition: .1s ease-out;
		transform: scaleX(0);
		transform-origin: 0 0;
		&:nth-of-type(even) {
			transform-origin: 100% 0;
		}
		&:nth-of-type(2) {
			transition-delay: .1s;
		}
		&:nth-of-type(3) {
			transition-delay: .2s;
		}
		&:nth-of-type(4) {
			transition-delay: .3s;
		}
		&:nth-of-type(5) {
			transition-delay: .4s;
		}
		&:nth-of-type(6) {
			transition-delay: .5s;
		}
	}
}


.home {
	@media (min-width: $bp-sm3-min) {
		header {
			.nav-wrap {
				padding: 100px calc(16px + (70 - 16) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					padding: 100px 70px;
				}
			}
			.main-navigation {
				#primary-menu {
					li {
						a {
							color: $black;
						}
					}
				}
			}
		}
	}
}

header .nav-wrap #site-navigation {
	&.toggled {
		padding: 31px calc(16px + (70 - 16) * (100vw - 320px) / (1440 - 320)) 36px;
		@media (min-width: $bp-xlg-min) {
			padding: 31px 70px;
		}
		position: fixed;
		transform: translate3d(0,30px,0);
		width: 100%;
		background: white;
		z-index: 20;
		top:-30px;
		bottom:0;
		left:0;
		right:0;
		height: 100vh;
		z-index: 40 !important;
	}
}

.is-nav-fixed {
	.rapt-logo-wrap {
		opacity: 1 !important;
		visibility: visible;
		transform: translate3d(0, 0, 0);
		pointer-events: auto;
	}
	header {
		.nav-wrap {
			#site-navigation {
				padding: calc(24px + (35 - 24) * (100vw - 320px) / (1440 - 320)) calc(16px + (70 - 16) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					padding: 24px 70px;
				}
				position: fixed;
				left: 0;
				top: -30px;
				transform: translate3d(0,30px,0);
				width: 100%;
				background: white;
				z-index: 20;
				&.toggled {
					top:-30px;
					bottom:0;
					left:0;
					right:0;
					height: 100vh;
				}
			}
		}
	}
}

.is-nav-fixed {
	header {
		.nav-wrap {
			#site-navigation {
				background: white;
			}
		}
	}
}

.single-post{
	header {
		.nav-wrap {
			#site-navigation {
				background:$peach!important;
			}
		}
	}
}

.blog {
	header {
		.nav-wrap {
			#site-navigation {
				background: #ffefdd !important;
			}
		}
	}
}
