.transition-wipe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: white;
  display: none;
}

.transition-wipe h1 {
  position: relative;
  top: -35%;
  left: -25%;
  width: 100%;
  height: 167.1px;
  transform: rotate(-45deg);
  opacity: 0.4;
  font-family: 'noe-display-medium';
  font-size: 200px;
  font-weight: 500;
  line-height: 0.86;
  text-align: center;
  color: #d1d1d1;
  white-space: nowrap;
}

.transition-wipe h1 {
  transform: rotate(-45deg) translate3d(-100%,0,0);
  backface-visibility: hidden;
}
.transition-wipe h1 span {
  position: relative;
  display: block;
  backface-visibility: hidden;
}

.intro {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'noe-display-medium';
  font-size: calc(25px + (64 - 25) * (100vw - 400px) / (1440 - 400));
  line-height: 1;
  padding: calc(10px + (30 - 10) * (100vw - 400px) / (1440 - 400)) 0;
  box-sizing: border-box;
  position:relative;
}

.intro-questions {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.intro-question {
  position: relative;
  color: #000000;
  cursor: pointer;
  transition: .3s;
  white-space: nowrap;
  padding: calc(5px + 1.8vw) 0;
  background: white;
  margin-top: calc(10px - 3.3vw);
  backface-visibility: hidden;
  will-change: transform, color, background;
  flex-shrink: 2;
}

.intro-question-text {
  backface-visibility: hidden;
  will-change: transform;
}

.intro-question:nth-of-type(1) {
  transform: rotate(-1deg);
}
.intro-question:nth-of-type(2) {
  transform: rotate(1deg);
}
.intro-question:nth-of-type(3) {
  transform: rotate(2deg);
}
.intro-question:nth-of-type(4) {
  transform: rotate(-3deg);
}
.intro-question:nth-of-type(5) {
  transform: rotate(0);
}
.intro-question:nth-of-type(6) {
  transform: rotate(-3deg);
}
.intro-question:nth-of-type(7) {
  transform: rotate(5deg);
}
.intro-question:nth-of-type(8) {
  transform: rotate(2deg);
}
.intro-question:nth-of-type(9) {
  transform: rotate(-3deg);
}

.intro-question.is-off {
  opacity: 0;
}

.intro-question.is-active {
  background: transparent;
  color: white;
}

.intro-question:hover {
  transition: none;
  z-index: 5;
}

.intro-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.intro-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.04);
  transition: .2s;
}

.intro-image.is-active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: .8s ease-out;
}

.intro-logo {
  position: relative;
  font-family: 'noe-display';
  font-size: calc(14px + (25 - 14) * (100vw - 400px) / (2000 - 400));;
  color: #37383c;
  margin-top: 7vh;
  transition: .3s;
}

.intro-logo.is-white {
  color: white;
}
