.intro {
  width: 100vw;
  height: calc(100vh - 136px);
  @media (min-width: $bp-sm-min) {
    height: calc(100vh - 96px);
  }
  @media (min-width: $bp-sm3-min) {
    height: calc(100vh - 120px);
  }
  font-family: 'noe-display-medium';
  font-size: calc(12px + 1.5vw + 4.4vh);
  line-height: 1;
  padding: 15px 0;
  box-sizing: border-box;
  position:relative;
}

.intro-questions {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.intro-question {
  position: relative;
  color: #000000;
  cursor: pointer;
  transition: .3s;
  white-space: nowrap;
  padding: 0;
  backface-visibility: hidden;
  will-change: transform, color, background;
  flex-shrink: 2;
  opacity: 0;
  transition: opacity .5s, transform 1s ease-out;
  z-index: 2;
}

.intro-question-text {
  backface-visibility: hidden;
  will-change: transform;
  position: relative;
  display: inline-block;
  transition: .5s opacity;
}

.intro-question.is-off {
  opacity: 0 !important;
  transition: none;
}

.intro-question.is-active {
  background: transparent;
  color: white;
  z-index: 3;
}

.intro-question:hover {
  z-index: 10;
  .intro-question-text {
    transition: .2s opacity !important;
    transition-delay: 0s !important;
  }
}

.intro-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 30px);
  overflow: hidden;
}
.intro-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
  z-index: 2;
}

.intro-image.is-active {
  opacity: 1;
  visibility: visible;
  transition: .4s ease-out;
}

.fade-in {
  animation: fade-in .5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro.is-active {
  .intro-question {
    opacity: 1;
    transform: translate3d(-30px,0,0);
  }
  .intro-question:nth-of-type(1) {
    transition-delay: .1s;
  }
  .intro-question:nth-of-type(2) {
    transition-delay: .2s;
  }
  .intro-question:nth-of-type(3) {
    transition-delay: .3s;
  }
  .intro-question:nth-of-type(4) {
    transition-delay: .4s;
  }
  .intro-question:nth-of-type(5) {
    transition-delay: .5s;
  }
  .intro-question:nth-of-type(6) {
    transition-delay: .6s;
  }
  .intro-question:nth-of-type(7) {
    transition-delay: .7s;
  }
  .intro-question:nth-of-type(8) {
    transition-delay: .8s;
  }
  .intro-question:nth-of-type(9) {
    transition-delay: .9s;
  }
  .intro-question:nth-of-type(10) {
    transition: 1s;
    transition-delay: 1s;
  }
}


.is-scrolling {
  &:not(.is-nav-fixed) {
    .menu-item a {
      color: white !important;
    }
    .rapt-logo polyline {
      fill: white;
    }
  }
  .intro {
    .intro-question {
      transition-delay: 0s !important;
      transition-duration: 0s !important;
    }
  }
}
