main {
	
	section {

		padding: calc(14px + (80 - 14) * (100vw - 400px) / (1440 - 400));

		&.home-work {
			padding:0;
			padding-bottom:90px;
		}

		&.home-perspectives {
			background: $peach;
			h1 {
				color:$black;
			}
		}

		&.home-about {
			
		}

		&.work-row-full {
			padding:0;
		}

		&.single-hero {
			padding:500px 0 60px;
			h1 {
				font-size: 64px;
				color:$white;
			}
		}
		&.single-intro {
			h2 {
				color:$black;
				font-size: 48px;
				font-family: 'noe-display';
				margin-top:0;
			}
			.work-cats {
				font-size: 18px;
			}
		}
		&.awards-press {
			h2 {
				font-size: 40px;
				color:$black;
				font-family: 'noe-display';
				margin-bottom:40px;
			}
			.awards-press-entry {
				margin-bottom:30px;
				padding-bottom:30px;
				border-bottom:1px solid #EEEEEE;
				&:last-of-type {
					border:none;
					margin-bottom:0;
					padding-bottom:0;
				}
				h4 {
					font-family: 'noe-display';
					font-size: 20px;
					margin:0;

					a {
						color:$gray;
						span {
							font-family: 'Fakt-Blond';
						}
					}
				}
			}
		}
		&.featured-products {
			h2 {
				font-size: 40px;
				color:$black;
				font-family: 'noe-display';
				margin-bottom:40px;
			}
			.work-row {
				h2 {
					margin-bottom: 15px;
				}			
			}
		}

		&.also-see{
			h2 {
				font-size: 40px;
				color:$white;
				font-family: 'noe-display';
				margin-bottom:40px;
			}
			.work-row {
				margin-left: -15px;
				margin-right:-15px;
				h2 {
					margin-bottom: 15px;
					a {
						color:$white;
					}
				}
				.work-cats {
					color:$footer-gray;
				}
			}
		}

		&.studio-hero {
			padding:340px 0;
		}

		
	}

	.work-grid {
		.work-row {
			margin-bottom:50px;
			@media (min-width: $bp-sm-min) {
				@include flexbox;
				@include align-items(center);
			}
			img {
				width:100%;
				height:auto;
			}
			h2 {
				font-size: 22px;
				color:$black;
				font-family: 'noe-display';
				span {
					font-family: 'Fakt-Blond';
				}
			}
			&.work-row-full {
				margin-bottom:100px;
				padding:500px 0 80px;
				h2 {
					font-size: 48px;
					color:$white;
					a {
						color:$white;
					}
				}
				.work-cats {
					color:$white;
				}
			}
		}
	}

	.secondary-articles {
		/*position:fixed;
		right:0;*/
	}

}