main {
	section {

		padding: calc(18px + (80 - 18) * (100vw - 400px) / (1440 - 400)) 0;
		@media (min-width: $bp-xlg-min) {
			padding: 80px 0;
		}

		&.home-work {
			padding:0;
			padding-bottom:30px;
			@media (min-width: $bp-sm-min) {
				padding-bottom:90px;
			}
			.work-grid {
				.work-row {
					margin-bottom:0;
					@media (min-width: $bp-sm-min) {
						margin-bottom: calc(15px + (100 - 14) * (100vw - 320px) / (1440 - 320));
					}
					@media (min-width: $bp-xlg-min) {
						margin-bottom: 100px;
					}
					&:last-of-type {
						margin-bottom:0;
					}
				}
			}
			.more-link-wrapper {
				padding-left:15px;
			}
		}

		&.home-perspectives {
			background: $peach;
			padding: 30px 0;
			@media (min-width: $bp-sm-min) {
				padding: calc(18px + (80 - 18) * (100vw - 400px) / (1440 - 400)) 0;
			}
			@media (min-width: $bp-xlg-min) {
				padding: 80px 0;
			}

			h1 {
				color: $black;
				margin: 0 0 26px;
				@media (min-width: $bp-sm-min) {
					margin: 0 0 calc(18px + (80 - 18) * (100vw - 400px) / (1440 - 400)) 0;
				}
				@media (min-width: $bp-xlg-min) {
					margin: 0 0 80px 0;
				}
			}
			article {
				.entry-header, .entry-content {
					padding:0 15px;
					@media (min-width: $bp-sm-min) {
						padding:0;
					}
				}
				.entry-header {
					margin-top:15px;
				}
			}
			.primary-articles {
				padding-left:0;
				padding-right:0;
				@media (min-width: $bp-sm-min) {
					padding-left:15px;
					padding-right:15px;
				}
			}
			.secondary-articles {

				@media (min-width: $bp-md-min) {
				/*	margin-left: 16.66666667%;*/
				}

				@media (min-width: 992px) {

				}
			}
			.more-link-wrapper {
				padding-left:15px;
				@media (min-width: $bp-sm-min) {
					padding-left:15px;
				}
			}
		}

		&.home-about {
			padding-left:15px;
			padding-right:15px;
			@media (min-width: $bp-sm-min) {
				padding-left:0;
				padding-right:0;
			}
			@media (min-width: $bp-lg-min) {
				padding:calc(18px + (80 - 18) * (100vw - 320px) / (1440 - 320)) 0;
			}
			.more-link-wrapper {
				margin: 0;
				text-align: left;
				padding-left:0;
			}
			.col-sm-8 {
				padding:0;
				@media (min-width: $bp-sm-min) {
					padding-left:15px;
					padding-right:15px;
				}
			}
			.container {
				/*padding:0;*/
			}
		}

		&.work-row-full {
			padding: 0;
		}

		&.single-hero {
			padding-left:0;
			padding-right:0;
			padding: calc(400px + (534 - 400) * (100vw - 320px) / (1440 - 320)) 0;
			padding-bottom:70px;
			@media (min-width: $bp-xlg-min) {
				padding: 534px 0 80px;
			}
			h1 {
				font-size: calc(32px + (64 - 32) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 64px;
				}
				margin: 0;
				color:$white;
			}
			&.video {
				@media (min-width: $bp-sm-min) {
					position:relative;
					overflow:hidden;
				}
				video {
					display:none;
					@media (min-width: $bp-sm-min) {
						display:block;
						position:absolute;
						height:100%;
						width:auto;
						left: 50%;
						-webkit-transform: translateX(-50%);
						-moz-transform: translateX(-50%);
	  				transform: translateX(-50%);
						right:0;
						top:0;
						bottom:0;
						z-index:1;
					}
					@media (min-width: 1100px) {
						display:block;
						position:absolute;
						height:auto;
						width:100%;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
	  				transform: translateY(-50%);
						right:0;
						left:0;
						bottom:0;
						z-index:1;
					}
				}
				.container {
					@media (min-width: $bp-sm-min) {
						position:relative;
						z-index:2;
					}
				}
			}
		}
		&.single-intro {
			padding-left:0;
			padding-right:0;
			h2 {
				color:$black;
				font-size: calc(24px + (48 - 24) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 48px;
				}
				font-family: 'noe-display';
				margin-top:0;
			}
			.work-cats {
				font-size: calc(10px + (16 - 10) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 16px;
				}
			}
			.single-intro-row {
				position:relative;
				.rapt-logo-wrap-work-single {
					position:absolute;
					right:-45px;
					top:5px;
					padding:0;
				}
			}
		}
		&.grid-content {
			padding-left:0;
			padding-right:0;
			.double-margin {
				margin-bottom:16%!important;
			}
			.full-width {
				margin-right: calc((33px + (95 - 33) * (100vw - 320px) / (1440 - 320)) / -1);
		    margin-left: calc((33px + (95 - 33) * (100vw - 320px) / (1440 - 320)) / -1);
		    width: calc(100vw + ((33px + (95 - 33) * (100vw - 320px) / (1440 - 320)));
		    max-width: none;
		    padding: 0 calc(33px + (95 - 33) * (100vw - 320px) / (1440 - 320);
				@media (min-width: $bp-xxlg-min) {
					margin-right: calc((100vw - 1280px) / -2);
			    margin-left: calc((100vw - 1280px) / -2);
			    width: 100vw;
			    max-width: none;
			    padding: 0 calc((100vw - 1280px) / 2);
			  }
			}
			p {
				font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320))!important;
			  @media (min-width: $bp-xlg-min) {
			    font-size: 20px!important;
			  }
			  &._Light {
			  	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320))!important;
				  @media (min-width: $bp-xlg-min) {
				    font-size: 20px!important;
				  }
			  }
			}
			.lg-contains-img {
				.lg-placeholder {
					padding-bottom:0!important;
				}
			}
			.lg-type-img {
				.lg-placeholder {
					padding-bottom:0!important;
				}
			}
		}
		&.awards-press {
			padding-left:0;
			padding-right:0;
			h2 {
				font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 40px;
				}
				color: $black;
				font-family: 'noe-display';
				margin-bottom: 36px;
			}
			.awards-press-entry {
				margin-bottom: 34px;
				color: $gray;
				&:last-of-type {
					border: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
				h4 {
					font-family: 'noe-display';
					font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 20px;
					}
					margin: 0;

					a {
						color: $gray;
						span {
							font-family: 'Fakt-Blond';
						}
					}
				}
			}
			.press-col {
				margin-bottom:90px;
				@media (min-width: $bp-md-min) {
					margin-bottom:0;
				}
			}
		}
		&.featured-products {
			padding-left:0;
			padding-right:0;
			h2 {
				font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 40px;
				}
				color: $black;
				font-family: 'noe-display';
				margin-bottom: 40px;
			}
			.work-row {
				margin-left: 0;
				margin-right: 0;
				@media (min-width: $bp-sm-min) {
					padding-left:0;
					padding-right:0;
				}
				@media (min-width: $bp-md-min) {
					margin-left: 0px;
					margin-right: 0px;
				}
				h2 {
					margin-bottom: 15px;
				}
			}
		}

		&.also-see{
			padding-left:0;
			padding-right:0;
			h2 {
				font-size: calc(32px + (40 - 32) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 40px;
				}
				color: $white;
				font-family: 'noe-display';
				margin-bottom: 40px;
			}
			.work-row {
				margin-left: 0px;
				margin-right: 0px;
				@media (min-width: $bp-sm-min) {
					padding-left:0;
					padding-right:0;
				}
				@media (min-width: $bp-md-min) {
					margin-left: 0px;
					margin-right: 0px;
				}
				h2 {
					margin-bottom: 8px;
					margin-top: 36px;
					a {
						color: $white;
					}
				}
				.work-cats {
					color: $footer-gray;
				}
			}
			.more-link-wrapper {

			}
		}

		&.studio-hero {
			padding: calc(164px + (320 - 164) * (100vw - 320px) / (1440 - 320)) 0;
			@media (min-width: $bp-xlg-min) {
				padding: 320px;
			}
		}

		&.team {
			padding-left:0;
			padding-right:0;
			h1 {
				color: $black;
				margin: 0 0 30px;
			}
			.team-sort-links {
				p {
					color: $light-gray;
					a, a:visited {
						color: $light-gray;
						&:hover, &.active {
							color: $black;
						}
					}
				}
				.show-everyone::before {
					content: '↪';
					margin-right: 5px;
				}
			}
			.team-sort {
				position:relative;
				margin-top: 30px;
				margin-left: -15px;
				margin-right: -15px;
				height: calc(300px + (620 - 300) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					height: 620px;
				}
				.team-members {
					position: relative;
					z-index: 1;
					.team-member-group {
						display:none;
						margin-left: -15px;
						margin-right: -15px;
						width: calc(100% - 30px);
						position: relative;
						@media (min-width: $bp-sm-min) {
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.active {
						.team-member {

						}
					}
					.team-member {
						padding: 0;
						margin-bottom: 30px;
						opacity: 0;
						transition: .5s opacity;
						position: absolute;
						left: 0;
						top: 0;
						&.is-active {
							opacity: 1;
							transition-delay: .3s;
						}
						.inner {
							position:relative;
							img {
								width: 100%;
							}
							&:hover {
								.team-member-info {
									opacity: 1;
								}
							}
							.team-member-info {
								position: relative;
								padding: 20px 0;
								text-align: center;
								width: 100%;
								@include transition(opacity .5s ease);
								h3 {
									margin: 0;
									font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
									@media (min-width: $bp-xlg-min) {
										font-size: 20px;
									}
									line-height: 1.33;
								}
								p {
									color: $light-gray;
									margin: 0;
									font-size: calc(12px + (14 - 12) * (100vw - 320px) / (1440 - 320));
									@media (min-width: $bp-xlg-min) {
										font-size: 14px;
									}
									line-height: 1.5;
								}
							}
						}
					}
					&.is-all {
						.team-member {
							position: relative;
							left: 0 !important;
							opacity: 1 !important;
						}
					}
				}
			}
		}

		&.we {
			padding-left:0;
			padding-right:0;
			background: $off-white;
			.we-wrapper {
				position: relative;
				.we-large-text {
					margin-bottom: 30px;
					@media (min-width: $bp-md-min) {
						position: absolute;
						top: 0;
						left: 0;
						margin-bottom: 0;
					}
				}
				.we-block {
					margin-bottom: 30px;
					padding: 0;
					@media (min-width: $bp-md-min) {
						padding-right: 15px;
    				padding-left: 15px;
					}
				}
			}
			h2 {
				color: $black;
			}
			p {
				color: $light-gray;
				strong {
					color: $black;
					font-weight: 400;
				}
			}
		}
		&.clients {
			padding-left:0;
			padding-right:0;
			h2 {
				color: $black;
			}
			#client_logo_row {
				position: relative;
				height: 300px;
			}
			.client-logos-row {
				position: absolute;
				top: 0;
				left: 0;
			}
			.client-logo {
				opacity: 0;
				transition: .7s opacity,visibility;
				position: absolute;
				top: 0;
				background: transparent !important;
				&:nth-of-type(4n+1) {
					left: 0;
				}
				&:nth-of-type(4n+2) {
					left: 25%;
				}
				&:nth-of-type(4n+3) {
					left: 50%;
				}
				&:nth-of-type(4n+4) {
					left: 75%;
				}
			}
			.client-logo.is-active {
				opacity: 1;
				transition-delay: .5s;
			}
		}
		&.services {
			padding-left:0;
			padding-right:0;
			h2 {
				margin-bottom: 44px;
				color: $black;
			}
			p {
				color: $light-gray;
			}
		}
		&.contact-info {
			padding-left:0;
			padding-right:0;
			.row {
				.row {
					margin-left:-15px;
					margin-right:-15px;
				}
			}
			h2 {
				color: $black;
			}
			h4 {
				color: $light-gray;
				font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1440 - 320));
				@media (min-width: $bp-xlg-min) {
					font-size: 20px;
				}
  			line-height: 1.6;
  			margin-bottom: 10px;
			}
			.contact-info-wrapper {
				position:relative;
				.contact-info-header {
					@media (min-width: $bp-md-min) {
						position:absolute;
						top: 0;
						left: 0;
					}
				}
				.contact-info-listing {
					margin-bottom: 30px;
					@media (min-width: $bp-md-min) {
						min-height: 220px;
						margin-bottom: 0;
					}
					p {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.work-grid {
		.work-row {
			margin-bottom: calc(15px + (100 - 14) * (100vw - 320px) / (1440 - 320));
			/*margin: 0;*/
			@media (min-width: $bp-sm-min) {
				margin-bottom: 0;
				@include flexbox;
				@include align-items(flex-start);
				.work-row-inner {
					@include flexbox;
					@include align-items(flex-start);
				}

				&.work-row-twothirds-onethird .work-row-inner,
				&.work-row-onethird-twothirds .work-row-inner {
					margin-bottom: 50px;
					@media (min-width: $bp-sm-min) {
						margin-bottom: calc(15px + (100 - 15) * (100vw - 320px) / (1440 - 320));
					}
					@media (min-width: $bp-xlg-min) {
						margin-bottom: 100px;
					}
				}

				&.work-row-onethird-twothirds + .work-row-twothirds-onethird .work-row-inner,
				&.work-row-twothirds-onethird + .work-row-onethird-twothirds .work-row-inner {
					@include align-items(flex-end);
					margin-top: -50px;
					@media (min-width: $bp-sm-min) {
						margin-top: calc(-15px + (-100 + 15) * (100vw - 320px) / (1440 - 320));
					}
					@media (min-width: $bp-xlg-min) {
						margin-top: -100px;
					}
				}
			}
			@media (min-width: $bp-md-min) {
				padding:0;
			}
			.container {
				@media (min-width: $bp-md-min) {
					width: 100%;
				}
			}
			.grid-item {
				margin-bottom: 30px;
				padding-left: 0;
				padding-right: 0;
				@media (min-width: $bp-sm-min) {
					margin-bottom: 0;
					padding-left: 15px;
					padding-right: 15px;
				}
				img {
					width: 100%;
					height: auto;
				}
				h2 {
					font-size: calc(16px + (22 - 16) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 22px;
					}
					color: $black;
					font-family: 'noe-display';
					padding: 0 15px;
					margin-top:25px;
					margin-bottom:8px;
					padding: 0 15px;
					@media (min-width: $bp-sm-min) {
						padding: 0;
					}
					p {
						@media (min-width: $bp-sm-min) {
							padding: 0;
						}
					}
					span {
						font-family: 'Fakt-Blond';
					}
				}
				p {
					padding: 0 15px;
					@media (min-width: $bp-sm-min) {
						padding: 0;
					}
				}
			}

			&.work-row-full {
				margin-bottom: 0;
				padding: 350px 0 30px;
				@media (min-width: $bp-sm-min) {
					margin-bottom: calc(15px + (100 - 14) * (100vw - 320px) / (1440 - 320));
					padding: 500px 0 80px;
				}
				@media (min-width: $bp-md-min) {
					margin-bottom: 100px;
					padding: 500px 0 80px;
				}
				.row {
					margin-left: 0;
					margin-right: 0;
					@media (min-width: $bp-sm-min) {
						padding-left: 0px;
						padding-right: 0px;
					}
				}
				.div {
					margin-bottom: 0;
				}
				h2 {
					font-family: 'noe-display';
					font-size: calc(32px + (48 - 32) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 48px;
					}
					color: $white;
					padding: 0;
					a {
						color: $white;
					}
					span {
						font-family: 'Fakt-Blond';
					}
				}
				.work-cats {
					color: $white;
					padding: 0;
				}
				.container {

				}
			}
		}
	}

}

.blog {
	#main {
		.more-link-wrapper {
			padding-left:0;
		}
		.container {
			@media (min-width: $bp-sm-min) {
				width: 100%;
				padding: 0 calc(18px + (80 - 18) * (100vw - 320px) / (1440 - 320));
			}
			@media (min-width: $bp-xlg-min) {
				width: 100%;
				padding: 0 80px;
			}
		}
		.secondary-articles {
			@media (min-width: $bp-sm3-min) {
				position: fixed;
				right: calc(18px + (80 - 18) * (100vw - 320px) / (1440 - 320));
				width: calc(1290px * .25);
				@media (min-width: $bp-xxlg-min) {
					margin-right: calc((100vw - 1470px) / 2);
					right: 80px;
				}
			}
			@media (max-width: $bp-sm3-min) {
				/* OVERRIDE JAVASCRIPT */
				transform: none !important;
			}
		}
		/* * {
			outline: 1px solid red;
		} */
	}
}
.single-post {
	.main-blog-wrap {
		.single-wrapper {
			@media (min-width: $bp-sm3-min) {
				@include flexbox;
			}
			.single-content {
				padding-right: 0;
	    	padding-left: 0;
	    	img {
	    		width: 100%;
	    		@media (min-width: $bp-sm3-min) {
						width: auto;
	    		}
	    	}
	    	@media (min-width: $bp-sm-min) {
					padding-right: 15px;
	    		padding-left: 15px;
				}
				.entry-header, .entry-content {
					padding-right: 15px;
	    		padding-left: 15px;
	    		@media (min-width: $bp-sm-min) {
						padding-right: 0;
		    		padding-left: 0;
					}
				}
				.category-list {
					margin-top: 20px;
				}
				h1 {
					font-family: 'Fakt-Blond';
					font-size: calc(32px + (48 - 32) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 48px;
					}
					color: $black;
					margin: 20px 0;
				}
				h2 {
					font-family: 'noe-display';
					font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 24px;
					}
					color: $black;
					margin: 0 0 40px;
					line-height: 1.33;
				}
				blockquote {
	  			border: none;
	    		margin: 30px 0;
	    		@media (min-width: $bp-sm-min) {
		    		margin: 30px 0 30px 30px;
					}
	    		@media (min-width: $bp-md-min) {
						margin: 46px 0 46px calc(40px + (87 - 40) * (100vw - 960px) / (1440 - 960));
						padding: 0;
					}
	  			p {
	  				font-size: calc(20px + (32 - 20) * (100vw - 320px) / (1440 - 320));
	  				@media (min-width: $bp-xlg-min) {
	  					font-size: 32px;
	  				}
	  				line-height: 1.25;
	  				font-family: 'noe-display';
	  				&:last-of-type {
	  					margin-bottom: 0;
	  				}
	  				strong {
	  					font-family: Fakt-Blond;
	  					font-weight: normal;
  						font-size: 20px;
  						color:#a4a4a4;
	  				}
	  			}
				}
			}
			.single-sidebar {
				@media (min-width: $bp-sm3-min) {
					@include flexbox;
					@include flex-direction(column);
				}
				.single-related-posts {
					display:flex;
					flex-wrap: wrap;
					@media (min-width: $bp-sm3-min) {
						@include flexbox;
						@include flex-direction(column);
						@include align-items(flex-end);
					}
					h3 {
						margin-bottom: 0;
					}
					article {
						width: 50%;
						padding: 0 8px;
						@media (min-width: $bp-sm3-min) {
							width: 100%;
							float: none;
							padding: 0
						}
						img {
							width:100%;
							height:auto;
						}
					}
				}
				.post-social {
					text-align: center;
					margin-bottom:100px;
					@media (min-width: $bp-sm3-min) {
						@include align-self(flex-start);
						width:100%;
						@include flex-grow(1);
						margin-bottom:0;
					}
					a {
						display: inline-block;
						margin:0 25px;
						@media (min-width: $bp-sm3-min) {
							display: block;
							float: right;
							clear: right;
							margin: 0 0 25px;
						}
					}
				}
			}
		}
		.post-navigation {
			margin-top:100px;
			padding:0 15px;
			@media (min-width: $bp-md-min) {
				margin-top:300px;
				padding:0;
			}
			.nav-next {
				width:100%;
				float:none;
				text-align: left;
				margin-left:15px;
				a {
					font-family: 'noe-display';
					font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1440 - 320));
					@media (min-width: $bp-xlg-min) {
						font-size: 40px;
					}
					display: inline-block;
					color: $black;
					opacity: .2;
				}
			}
			.nav-previous {
				display:none;
			}
		}
	}
}
