body {
	/*font-family: Fakt;
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  text-align: left;*/
  font-size: 20px;
}

h1 {

	-webkit-font-smoothing: antialiased;
	@media (min-width: $bp-sm-min) {
		
	}
}

h2 {
	
	@media (min-width: $bp-sm-min) {
		
	}
}

h3 {
	
	@media (min-width: $bp-sm-min) {
		
	}
}

h4 {
	
}

p {
	
	&.large {
		
	}
}

blockquote {
	

}

.aligncenter {
	text-align: center;
}
