// Colors
$yellow: #fecf33;
$light-orange: #fdbd39;
$peach: #ffdfd9;
$black: #000000;
$white: #FFFFFF;
$tan: #ffefdd;
$light-gray: #a5a8a8;
$footer-gray: #555555;
$gray:#37383c;

// Breakpoints
$bp-xs-min: 320px;
$bp-xs2-min: 680px;
$bp-sm-min: 768px;
$bp-sm2-min: 850px;
$bp-sm3-min: 961px;
$bp-md-min: 992px;
$bp-md2-min: 1000px;
$bp-lg-min: 1150px;
$bp-xlg-min: 1290px;
