// Colors
$yellow: #fecf33;
$light-orange: #fdbd39;
$peach: #ffdfd9;
$black: #000000;
$white: #FFFFFF;
$off-white: #f9f9f9;
$tan: #ffefdd;
$light-gray: #a5a8a8;
$footer-gray: #777777;
$gray:#37383c;
$grayAlt:#777777;

// Breakpoints
$bp-xs-min: 320px;
$bp-xs2-min: 680px;
$bp-sm-min: 680px;
$bp-sm3-min: 960px;
$bp-md-min: 960px;
$bp-lg-min: 1320px;
$bp-xlg-min: 1320px;
