// Colors
$darkblue: #173f6d;

// Breakpoints
$bp-xs-min: 480px;
$bp-xs2-min: 600px;
$bp-sm-min: 768px;
$bp-sm2-min: 850px;
$bp-md-min: 992px;
$bp-md2-min: 1000px;
$bp-lg-min: 1150px;
$bp-xlg-min: 1300px;